{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <h1>Welcome to the HR department</h1>
    </div>

    <div class="row">
        <h2>Employees</h2>
        <ul>
            {% for employee in employees %}
            <li>{{employee.first_name}} {{employee.last_name}} </li>
        </ul>
        {% endfor %}
    </div>

    <div class="row">
        <h2>Departments</h2>
        <ul>
            {% for department in departments %}
            <li>{{department.name}}</li>
        </ul>
        {% endfor %}
    </div>


</div>
{% endblock %}